@page "/about"

@using System.Reflection

@inject IStringLocalizer<Strings> Localize

<h3>@Localize["About.Title"]</h3>

<p>
    @Localize["About.Description"]
</p>

<p>
    @String.Format(@Localize["About.Version"], @Assembly.GetExecutingAssembly().GetName().Version.ToString())
</p>
@code {

}
