@using ServicePlanner.Bulletin.OrderOfService
@using ServicePlanner.Data.Service

@inherits BulletinDisplayComponent

@inject IStringLocalizer<Strings> Localize

<style>
    .left-inside-page.debug {
        border: 1px double green;
    }

    .service-header.debug {
        background-color: hotpink;
    }

    .service-details.debug {
        background-color: mediumvioletred;
    }
</style>

<div class="row flex-fill @DebugClass">
    <div class="col d-flex flex-column left-inside-page @DebugClass">
        <!--Left side of page-->
        <div class="row align-items-start">
            <div class="col text-center service-header @DebugClass">
                <!--Header-->
                <h1>@Service.Name</h1>
                <h2>@Service.Date.ToString("yyyy-MM-dd")</h2>
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col service-details @DebugClass">
                <!--Service Details-->
                Placeholder
            </div>
        </div>

        <hr />

        <OrderOfServiceDisplay Service="Service" />
    </div>
    <div class="col d-flex flex-column @DebugClass">
        <!--Right side of page-->
    </div>
</div>

@code {
    [Parameter]
    public Service Service { get; set; }
}