@using ServicePlanner.Bulletin.OrderOfService
@using ServicePlanner.Data.Service

@inherits BulletinDisplayComponent

@inject IStringLocalizer<Strings> Localize

<div class="container">
    <div class="row @DebugClass">
        <div class="col @DebugClass">
            <!--Left side of page-->
            <div class="row align-items-start @DebugClass">
                <p>@Service.Date.ToString("yyyy-MM-dd")</p>
            </div>

            <OrderOfServiceDisplay Service="Service" />
        </div>
        <div class="col @DebugClass">
            <!--Right side of page-->
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Service Service { get; set; }
}